.planner-body{
    margin: 0 auto;
    max-width: 675px;
}

.planner-bottom{
    margin: 3px 0px;
}

.divPlanMore {
    border: solid 1px black;
}

#ahrefMealPlanner {
    background-color:lightblue;
}
