.recipe {
	display:flex;
}

.recipe-body {
	display:inline-block;
}

.recipe-img {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
}

.recipe-actions {
	display:inline-block;
}

.recipe-actions button{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
