.ahrefLoginHeader, .ahrefGreetingHeader {
	position:absolute;
	bottom:0;
	right:0;
}

.ahrefLoginHeader a, .ahrefGreetingHeader a {
	margin-left:2em;
}

.header {
	margin:5px 0px;
	text-align:center
}
