h1 {
	border-bottom:solid 0.5px;
	/*border-color:#666699;*/
	width:100%;
}

p {
	text-align:left;
	padding:4px;
    color: black;
}
.pUserReview{
    margin-left: 10px;
}

.maincolumn {
	text-align:center;
	border-right:solid 0.5px;
}

.leftcolumn{
    background-color: #7dce82;
    height: 915px;
}

.middlecolumn{
    background-color: #9BC1BC;
}

.rightcolumn{
    border-right: none;
    background-color: #7dce82;
    height: 915px;
}

/*.subcolumn {
	border-top-style:solid;
	border-color:#666699;
}

.rightcolumn {
	border-right-style:solid;
	border-color:#666699;
}*/

.divPopRecipe {
	margin:2px 12px;
	width:90%;
}

.imgRecipe {
	padding:2px;
	float:left;
	width:100px;
	height:100px;
}

#btnSignUp {
	width:96%;
	margin-top:5px;
	font-size:2em;
}