#divError {
    visibility:collapse;
    display:none;
}

.recipe img {
    width: 10em;
    height: 10em;
}

.recipe h2 {
    margin-top:0px;
}

.divIngredientSection {
    margin:0px auto 0px 1em ;
    padding-top:0px;
}

.recipe {
    display:flex;
}

.recipe-body {
    display:inline-block;
}

.recipe-img {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
}

.recipe-actions {
    display:inline-block;
}

.recipe-actions button{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
