#ahrefRecipes {
	background-color: #ff8360;
}

.imgRecipeListItem {
    width:10em;
    height:10em;
}

.listItemCell {
    padding-bottom:.5em;
    max-width: 700px;
}

table{
    padding: 10px 10px;
}
table img{
    margin-left: 10px;
    margin-top:10px;
}
tr {
    background-color: #7dce82;
}
tr:nth-child(even) {
    background-color: #9BC1BC;
}

.rowItemContainer {
    margin-top:5em;
}

.searchBar {
	display:inline-block;
	text-align: center;
}

.row bodyrow {
	display:inline-block;
	text-align: center;
}

#DataPager {
    text-align:center;
}
