.deletegrocery { position:absolute; right:5px; top:4px}
.imgRecipeListItem { width:6em; height:6em; }
.listItemCell { padding-bottom:.5em; }
.rowItemContainer { margin-top:5em; }
.plannersection { margin:3px 0px; }
.divTrash { margin-left:2.1em; margin-top:auto; margin-bottom:0px}
.toprow { height: 30em; }

table { width:100%; }
#calendarheader { overflow:auto; position:relative; }
#divGroceryList { overflow:scroll; }
#imgTrash { height:2em; position:absolute; right:1em; bottom:.5em; }
#selectable { }
#ahrefMealPlanner { background-color:#ff8360; }
#selectable .ui-selecting {  }
#selectable .ui-selected {  }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; position:relative; }

.right_border{
    border-right: 0.5px solid;
}

.main { 
    margin: 0px;
    overflow:auto;
    border:none;
}
.sidebar    {
    width: 6.1em;
    float: left;
}

.page-wrap  {
    background: #ffffff;
    margin-left: 7em;
}

.color1{
    background-color: #f4f1bb;
}

.color2{
    background-color: #ff8360;
}

.color3{
    background-color: #7DCE82;
}

.color4{
    background-color: #9BC1BC;
    height: 418px;
}

.center-text {
    text-align:center;
    font-size:small;
}