:root { --main-bg-color:#113388; --main-accent-color:#F7b538; }

.ahrefLoginHeader, .ahrefGreetingHeader { position:absolute; bottom:0; right:2em; }
.ahrefLoginHeader a, .ahrefGreetingHeader a { margin-left:2em; }

.menucontainer { float:left;  height:3.7em; vertical-align:middle; font-size:1.5em; position:relative; }
.divMenuItem { margin:auto .5em; position:absolute; bottom:0px; }
.divMenuItemLeft { left:0em; }
.divMenuItemMiddle {left:5em; width:6em; }
.divMenuItemRight {left:12.2em; }
.headermenulink { bottom:0px; }
.divLoginDiv { margin-right:.3em; }
/*.divMenuItem a { position:absolute; bottom:0px; }*/

/* User Profile button */
.tooltip {
    background-color: orange;
    text-decoration: none;
    position: relative;
}

.tooltip span {
    display:none;
}

.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

.header { position:relative; width:100%; height:5.6em; overflow:auto; 
          margin-bottom:3px; background-color: #9BC1BC;
}
#divLogo {float:left; margin:0px;}
#imgLogo { height:5em; margin:.3em .3em; }
#aLogo { float:left; margin:0px; }
.bold { font-weight:bold; }

.bodycontent { margin-top:2em;}
.header a, .header span {
    color: white !important;
}
body{
    background-color:white !important;
}